.color {
    background-color: $background2;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 200px;
    padding: 110px 0px;
    justify-items: center;
    align-items: center;
    text-align: center;
    .imagen1 {
        img {
            width: 42vw;
        }
    }
    .subhome {
        h1 {
            font-size: 40px;
            font-weight: 900;
            margin: 0px 40px;
        }
        
        a {
            align-items: center;
            flex-direction: column;
            display: flex;
            font-size: 1.1rem;
            padding: 10px;
            border-radius: 13px;
            color: #fff;
            width: 130px;
            background: $color2;
            margin: 0px 10px;
        }
        p {
            margin: 50px auto;
            text-align: center;
            padding: 10px;
            background: $color2;
            color: #ffffffff;
            border-radius: 6px;
            font-size: 18px;
            width: 400px;
        }
        .botones {
            display: flex;
            justify-content: center;
            margin: 0px 0px 40px;
        }
        img {
            width: 42vw;
        }
    }
}



.home2 {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 200px;
    padding: 110px 0px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #ffffffff;
    .imagen2 {
        img {
            width: 42vw;
        }
    }
    .subhome2 {
        h1 {
            font-size: 40px;
            font-weight: 900;
            margin: 0px 40px;
        }
        a {
            align-items: center;
            flex-direction: column;
            display: flex;
            font-size: 1.1rem;
            padding: 10px;
            border-radius: 13px;
            color: #fff;
            width: 130px;
            background: $color2;
            margin: auto;
            margin: 0px auto 10px;
        }
        p {
            margin: 50px auto;
            text-align: center;
            padding: 10px;
            background: $color2;
            color: #ffffffff;
            border-radius: 6px;
            font-size: 1.3rem;
            width: 400px;
        }
        .imagen2 {
            img {
                width: 42vw;
            }
        }
    }
}

