.servicios {
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 13px;
    color: #fff;
    background: $color2;
    justify-content: center;
    width: 130px;
    margin: 30px auto 30px;
}

.carousel {
    width: 100vmin;
    margin: 40px auto 50px;
    h5 {
        font-size: 2.25rem;
    }
    p {
        font-weight: 500;
    }
}

.carousel-caption {
    color: $color2;
    padding: 0px;
    
}
.cartas {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 70px 0px;
}

.boton {
    background-color: #ffffffff;
    display: flex;
    align-items: center;
}