.portafolio, .portafolio2 {
    .row {
        margin: 30px 0px;
        align-items: center;
        .bloque2 {
            display: flex;
            justify-content: center;
            .subbloque2 {
                width: 460px;
                text-align: justify;
            }
        }
    }
    img {
        width: 80vmin;  
    }
    a {
        align-items: center;
        flex-direction: column;
        display: flex;
        font-size: 1.1rem;
        padding: 10px;
        border-radius: 13px;
        color: #fff;
        width: 130px;
        background: $color2;
    }
}

.centrar {
    display: flex;
    height: 700px;
    align-items: center;
}

.centrar2 {
    display: flex;
    height: 700px;
    align-items: center;
    background-color: $background1;
}


.portafolio2 .row {
    flex-direction: row-reverse;
}
