.contacto {
    display: flex;
    padding: 30px 0px 30px;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}

.contacto h1 {
    display: flex;
    justify-content: center;
    color:$color1;
    font-size: 3.0rem;
    padding: 30px 0px;
}

.formulario {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0px 10px 0px;
}

select {
    margin: 0px 0px 10px 0px;
}

input[type=enviar] {
    background-color:$color1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 17px 0px 0px 0px;
    cursor: pointer;
    width: 90px;
    text-align: center;
}

input[type=text], input[type=email], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 90vmin;
}

textarea {
    width: 90vmin;
}