.servicios {
    display: flex;
    align-items: center;
    flex-direction:column;
}

.opciones {
    display: flex;
}

.opcion1, .opcion2, .opcion3 {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.opciones img {
    margin: 0px 0px 20px;
}
 
.servicios img {
    width: 450px;
}

.opciones p {
    width: 448px;
    color: #3c4457;
    padding: 20px 0px;
}

.servicios a {
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    margin: 38px;
    border-radius: 13px;
    color: #fff;
    background: $color2;
}

.carousel {
    width: 100vmin;
    margin: 40px auto 50px;
    
}

.carousel-caption {
    color: $color2;
    padding: 0px;
    
}

.carousel h5 {
    font-size: 2.25rem;
}

.carousel p {
    font-weight: 500;
}

.carousel-indicators [data-bs-target] {
    background-color: $color2;
}
