
.opciones {
    display: flex;
}

.opcion1, .opcion2, .opcion3 {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.opciones img {
    margin: 0px 0px 20px;
}
 
.opciones p {
    width: 448px;
    color: #3c4457;
    padding: 20px 0px;
}

.servicios {
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 13px;
    color: #fff;
    background: $color2;
    justify-content: center;
    width: 130px;
    margin: 30px auto 30px;
}

.carousel {
    width: 100vmin;
    margin: 40px auto 50px;
    
}

.carousel-caption {
    color: $color2;
    padding: 0px;
    
}

.carousel h5 {
    font-size: 2.25rem;
}

.carousel p {
    font-weight: 500;
}

.cartas {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 70px 0px;
}

.boton {
    background-color: #ffffffff;
    display: flex;
    align-items: center;
}