@media screen and (max-width: 1040px){

    // HEADER 
    .modal-backdrop {
        z-index: 20;
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav1 {
        display: none;
    }

    nav {
        ul{
            flex-direction: column;
        }
        li {
            padding: 15px 20px 15px 20px;
            margin: auto;
        }
    }

    .btn-primary {
        --bs-btn-bg: #0C161B;
        --bs-btn-border-color: #0C161B;
        --bs-btn-hover-bg: #019294;
        --bs-btn-hover-border-color: #019294;
        --bs-btn-active-bg: #019294;
        --bs-btn-active-border-color: #019294;
    }

    .btn-secondary {
        --bs-btn-bg: #0C161B;
    }
    
    .menu-responsive {
        display: flex;
        margin: 0px 50px 0px 0px;
    }

    .modal {
        --bs-modal-width: 250px;
    }

    // INDEX

    .home, .home2 {
        grid-template-columns: 100%;
        row-gap: 10px;
        grid-template-rows:auto;
        .subhome {
            order: 1;
        }
        p {
            margin: 40px auto;
        }
        .imagen1 {
            justify-self: center;
            order: 2;
            img {
                width: 96vmin;
            }
            
        }
        .imagen2 {
            justify-self: center;
            img {
                width: 96vmin;
            }
        }
    }
    
    // PRESENTACIÓN
    .presentacion img {
        width: 100vmin;
    }

    .row {
        flex-direction: column;
    }
    .col {
        u {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
    }

    // PORTAFOLIO

.subbloque2 {
    text-align: center!important;
    margin: 30px 0px 30px;
        a {
            margin:auto;
        }
        h4 {
            font-size: 1rem;
        }
    }
    // SERVICIOS
.cartas {
        flex-direction: column;
        align-items: center;
        }
        .card {
            margin: 50px 0px;
        }
    
}
 
@media screen and (max-width: 450px){

    // SERVICIOS

    .carousel h5 {
        font-size: 1.5rem;
    }
}