*, ul, a {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Sofia Sans', sans-serif;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

body {
    background-color: #EEEEEE;
}

header {
    display: flex; 
    justify-content: center;
    top: 0;
    position: sticky;
    min-height: 100px;
    width: 810px;
    margin: auto;
    align-items: center;
    z-index: 30;
}

.menu-responsive {
    display: none;
}
 
nav ul {
    display: flex;
    align-items: center;
    padding: 0px;
}

nav li {
    /* margin: 37px 44px 0px; */
    font-size: 18px;
}

nav a {
    font-weight: 600;
    line-height: 2rem;
    font-weight: 600;
    color: #0C161B;
    text-decoration: none;
    padding: 10px 30px;
}

 /* HOVERS */

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #019294;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
  }
  .hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background:#019294;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

 /* HOVERS  FIN */


.color {
    background-color: #EEEEEE;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 2fr;
    row-gap: 200px;
    padding: 30px;
    margin: 55px auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #019294;
}

.subhome h1, .subhome2 h1 {
    font-size: 40px;
    font-weight: 900;
}

.home p, .home2 p {
    margin: 50px 45px;
    text-align: center;
    padding: 10px;
    background: #0C161B;
    color: #ffffffff;
    border-radius: 6px;
    font-size: 1rem;
}

.imagen1, .imagen2 {
    justify-self: end;
}

.imagen1 img, .imagen2 img {
    width: 42vw;
}

.home2 {
    display: flex;
    padding: 60px 0px 60px 0px;
    flex-direction: row;
    justify-content: space-around;
    color: #019294;
    background-color: #d0e7fe8e;
}

.pie {
    height: 170px;
    display: flex;
    background-color: #5E918F;
    flex-direction: column;
    align-items: center;
    color: #0C161B;
}

.pie h2 {
    padding: 30px 0px 30px 0px;
}

.fa-facebook {
    margin: 0px 30px 0px 30px;
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0e7fe8e;
    padding: 0px 0px 30px 0px;
}

.presentacion h1 {
    padding: 30px 0px 30px 0px;
    font-size: 3.1rem;
    line-height: 1.35;
    color: #019294;
    font-weight: 900;
    text-align: center;
}

.presentacion img {
    width: 750px;
}

.presentacion p {
    text-align: center;
    font-weight: 400;
    font-size: 1.10rem;
    line-height: 1.95rem;
    color: #fff;
    background: #0C161B;
    padding: 12px;
    border-radius: 7px;
    margin: 0px 20px 16px;
}

.servicios {
    display: flex;
    align-items: center;
    flex-direction:column;
}

.servicios h1 {
    padding: 30px 0px 30px 0px;
    font-size: 3.1rem;
    line-height: 1.35;
    color: #019294;
    font-weight: 900;
}

.opciones {
    display: flex;
}

.opcion1, .opcion2, .opcion3 {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.opciones img {
    margin: 0px 0px 20px;
}
 
.servicios img {
    width: 450px;
}

.opciones p {
    width: 448px;
    color: #3c4457;
    padding: 20px 0px;
}

.servicios a {
    display: flex;
    font-size: 1.5rem;
    padding: 10px;
    margin: 38px;
    border-radius: 13px;
    color: #fff;
    background: #0C161B;
}

.carousel {
    WIDTH: 100vmin;
    margin: 40px auto 50px;
    
}

.carousel-caption {
    color: #0C161B;
    padding: 0px;
    
}

.carousel h5 {
    font-size: 2.25rem;
}

.carousel p {
    font-weight: 500;
}

.carousel-indicators [data-bs-target] {
    background-color: #0C161B;
}

.portafolio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EEEEEE;
    padding: 30px 0px 30px;
}

.portafolio img, .portafolio2 img { 
    width: 490px;
}

.bloque2 {
    display: flex;
    width: 460px;
    height: 330px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.bloque2 h1 {
    color: #019294  ;
}

.portafolio2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 30px 0px 30px;
    flex-direction:row-reverse;
}

.contacto {
    display: flex;
    padding: 30px 0px 30px;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}

.contacto h1 {
    display: flex;
    justify-content: center;
    color:#019294;
    font-size: 3.0rem;
    padding: 30px 0px;
}

.formulario {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px 0px 10px 0px;
}

select {
    margin: 0px 0px 10px 0px;
}

input[type=enviar] {
    background-color:#019294;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 17px 0px 0px 0px;
    cursor: pointer;
    width: 90px;
    text-align: center;
}

input[type=text], input[type=email], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 90vmin;
}

textarea {
    width: 90vmin;
}

.header i {
    display: none;
}

@media screen and (max-width: 900px){

    .modal-backdrop {
        z-index: 20;
    }
    
    header {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav1 {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding: 15px 20px 15px 20px;
        margin: auto;
    }

    .btn-primary {
        --bs-btn-bg: #0C161B;
        --bs-btn-border-color:#0C161B;
        --bs-btn-hover-bg: #019294;
        --bs-btn-hover-border-color: #019294;
        --bs-btn-active-bg: #019294;
        --bs-btn-active-border-color: #019294;
    }

    .btn-secondary {
        --bs-btn-bg: #0C161B;
    }
    
    .menu-responsive {
        display: flex;
        margin: 0px 50px 0px 0px;
    }

    .modal {
        --bs-modal-width: 250px;
    }
    
    .home {
        grid-template-columns: 100%;
        row-gap: 10px;
        grid-template-rows:auto
    }

    .imagen1, .imagen2 {
        justify-self: center;
    }

    .imagen1 img, .imagen2 img {
        width: 96vmin;
    }

    .imagen1 {
        order: 2;
    }

    .subhome {
        order: 1;
    }

    .subhome2 {
        order: 3;
        margin-top: 160px;
    }

    .imagen2 {
        order: 4;
    }

    .home p, .home2 p {
        margin: 40px 0px 40px 0px;
    }

    .presentacion img {
        width: 100vmin;
    }
}

@media screen and (max-width: 450px){
    .carousel h5 {
        font-size: 1.5rem;
    }
}