*, ul, a {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Sofia Sans', sans-serif;
}

$color1: #019294;
$color2: #0C161B;
$background1: #ffffffff;
$background2: #EEEEEE;

@import "header";
@import "footer";
@import "body.index";
@import "body.sobremi";
@import "body.service";
@import "body.portafolio";
@import "body.contacto";
@import "media";




h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: $color1;
}

body {
    background-color: $background2;
}